
<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8"> 
    <title>视频播放</title> 
    <meta name="viewport" content="width=device-width,height= device-height,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

<video width="320" height="100%" controls autoplay>
    <source src="../static/video/qq20180921142012.mp4" type="video/mp4">
    <source src="../static/video/qq20180921142012.mp4" type="video/ogg">
    <source src="movie.webm" type="video/webm">
    您的浏览器不支持 video 属性。
</video>

 <h1 id="id1"> 我的标题</h1>
 <button type="button" onclick="document.getElementById('id1').style.color='red'">点击变色</button>
 <script>
     var  de = document.getElementById("");
     document.write(Date());
 </script>

</body>
</html>