<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>
    <style>
        img.home {
            width: auto;
            height: auto;
            margin-top: 50px;
            background: url(../static/images/android_max.png) 0 0;
        }

        img.next {
            width: auto;
            height: auto;
            background: url(../static/images/bottom.png) -91px 0;
        }
    </style>
</head>
<body>

<img class="home" src="../static/images/android_max.png"><br><br>
<img class="next" src="../static/images/bottom.png">

</body>
</html>